{% extends "base.html" %}

{% block content %}
{% if character %}
<form id="character-sheet">
	<fieldset>
		<div id="legend">
			<legend>Character Sheet</legend>
		</div>

		<label for="name">Name</label>
		<input id="name" name="name" type="text" placeholder="Name"
		       value="{{ character.name }}" />

		<label for="race">Race</label>
		<input id="race" type="text" name="race" placeholder="Race"
		       value="{{ character.race }}" />

		<div id="classes">
			<label>Classes</label>
			{% if character.classes %}
			{% for name, level in character.classes.iteritems() %}
			<div class="controls controls-row">
				<input name="class-name" type="text" placeholder="Class Name"
					   value="{{ name }}" class="span3" />
				<div class="input-prepend span2">
					<span class="span1 add-on">LVL</span>
					<input name="class-level" type="number" class="input-mini"
						   min="1" max="20" value="{{ level }}" />
				</div>
				<button class="btn btn-danger span2 remove-class-btn"
				        type="button">Remove Class</button>
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<button id="add-class-btn" type="button"
			    class="btn btn-link">Add another class</button>
		<table>
			<thead>
				<tr>
					<th>Ability</th>
					<th>Score</th>
					<th>Modifier</th>
				</tr>
			</thead>
			<tbody>
				{% for (text, score) in [('STR', character.strength),
				                         ('DEX', character.dexterity),
				                         ('CON', character.constitution),
				                         ('INT', character.intelligence),
				                         ('WIS', character.wisdom),
										 ('CHA', character.charisma)] %}
				<tr>
					<th>{{ text }}</th>
					<td>
						<input type="number" min="1" max="20"
						       class="input-mini ability"
							   name="{{ text.lower() }}" value="{{ score }}" />
					</td>
					<td><span class="input-mini uneditable-input">0</span></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</fieldset>
	<div class="form-actions">
		<button id="save-btn" type="button" class="btn btn-primary"
		        data-loading-text="Saving...">Save Character</button>
		<button id="delete-btn" type="button" class="btn btn-danger"
		        data-loading-text="Deleting...">Delete Character</button>
		<span id="form-errors" class="pull-right"></span>
	</div>
</form>
{% else %}
<p class="text-error">
	An error occured while loading your character. Please refresh the page to
	try again.
</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function ()
	{
		function updateAbilityMod()
		{
			var score = $(this).val();
			var mod = Math.floor((score - 10) / 2);
			$(this).parent().next().children().first().text(mod);
		}
		
		$('.ability').each(updateAbilityMod);
		$('.ability').change(updateAbilityMod);

		$('#add-class-btn').click(function ()
		{
			var row = $('<div class="controls controls-row"></div>');
			$('#classes').append(row);
			row.append('<input name="class-name" type="text" class="span3" ' +
			           'placeholder="Class Name" />');
			var addon = $('<div class="input-prepend span2"></div');
			row.append(addon);
			addon.append('<span class="span1 add-on">LVL</span>');
			addon.append('<input name="class-level" type="number" ' +
			             'class="input-mini" min="1" max="20" value="1" />');
			var button = $('<button type="button" class="btn btn-danger ' +
			               'span2 remove-class-btn">Remove Class</button>');
			row.append(button);
			button.click(function ()
			{
				$(this).parent().remove();
			});
		});

		$('.remove-class-btn').click(function ()
		{
			$(this).parent().remove();
		});

		$('#save-btn').click(function ()
		{
			$('#save-btn').button('loading');
			var json = JSON.stringify($('#character-sheet').serializeObject());
			$.ajax({
				url: '{{ uri_for("character",
				                 key=character.key.urlsafe()) }}',
				type: 'POST',
				data: {'form': json},
			})
			.done(function ()
			{
				$('#save-btn').button('reset');
				var msg = $('<p class="text-success">Character information ' +
				            'saved.</p>');
				$('#form-errors').html(msg);
				msg.fadeOut(2000);
			})
			.fail(function ()
			{
				$('#save-btn').button('reset');
				$('#form-errors').html('<p class="text-error">An error ' +
					'occured. Please refresh the page and try again.</p>');
			});
		});

		$('#delete-btn').click(function ()
		{
			$('#delete-btn').button('loading');
			$.ajax({
				url: '{{ uri_for("character",
				                 key=character.key.urlsafe()) }}',
				type: 'DELETE',
			})
			.done(function ()
			{
				var timeout = 3;
				var next = '{{ uri_for("character-list") }}';
				$('#content').html(
					'<p class="text-success">Character deleted. Returning to ' +
					'character list in <span id="counter">' + timeout +
					'</span>...</p><a href="' + next + '">Go now</a>');
				setTimeout(function ()
				{
					window.location.replace(next);
				}, timeout * 1000);
				setTimeout(function countdown()
				{
					var count = $('#counter').text();
					if (count > 0)
					{
						setTimeout(countdown, 1000);
					}
					$('#counter').text(--count);
				}, 1000);
			})
			.fail(function()
			{
				$('#delete-btn').button('reset');
				$('#form-errors').html('<p class="text-error">An error ' +
					'occured. Please refresh the page and try again.</p>');
			});
		});
	});
</script>
{% endblock %}
